
.header {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px;
}


.slider-container {
    overflow: hidden;
    width: 100%;  
}

.slider {
    display: flex;
    width: 100%; 
    transition: transform 1s ease-in-out;
}


.slide {
    width: 100%;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh; 
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}



.header-contents {
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;

}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header-contents button:hover {
    background-color: #f0f0f0;
    color: #333;
}
 .card1{
    display: flex;
    justify-content: center;
    align-items: center;
 }